.main-bg {
    background-image: url('../img/main.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.servico-bg {
    background-image: url('../img/servico.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: #4E47B7;
    color: var(--white-color);
    max-height: 30rem;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 48vh;
}

.menu {
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color)
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(--gap);
    height: 96vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-transform: uppercase;
}

.intro-text-content h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    line-height: 1.2;
}

.intro-text-content p {
    text-transform: none;
    font-family: 'Montserrat', italic;
}

.intro-img img, .intro-img svg {
    max-width: 80%;
    height: auto;
}

.temos-que-precisa-content {
    max-width: 97rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 45vh;
    text-transform: initial;
    text-align: center;
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 63vh;
    text-transform: uppercase;
}

.sevTitle {
    text-align: center;
    padding: 2rem;
}

hr {
    border: none;
    height: 0.5rem;
    width: 7rem;
    background-color: #4E47B7;
    margin-bottom: 3rem;
    margin-left: 47%;
}

.somos-hr {
    border: none;
    height: 0.5rem;
    width: 7rem;
    background-color: white;
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin-left: 47%;
}

.grid-one-content p {
    text-transform: none;
    font-family: "Font Awesome 6 Free";
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.webTitle {
    margin-left: 2rem;
}

.biTitle{
    margin-left: 5.5rem;
}

.apiTitle {
    margin-left: 4rem;
}

.grid h3::before {
    position: absolute;
    font-size: 6rem;
    font-style: italic;
    top: -2rem;
    left: -0.2rem;
    transform: rotate(5deg);
}


.top {
    position: fixed;
    right: 3rem;
    bottom: 5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: antiquewhite;
    text-decoration: none;
    color: #bbb;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5rem 0.10rem 0 #4E47B7;
    cursor: pointer;
}

.fazemos {
    margin-left: 41%;
    margin-top: 3rem;
    font-size: 1.5rem;
    right: 3rem;
    bottom: 5rem;
    width: 18rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: #665ceb;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5rem 0.10rem 0 #fefeff;
}

.fazemos:hover {
    cursor: pointer;
    background-color:#0A1128;
}

.cursor-ban {
    cursor: pointer;
}
